# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# SQLite Database
database/*.sqlite
database/*.db
database/*.sqlite3
database/*.db3
database/*.sqlite-journal

# Coverage
coverage/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temporary files
tmp/
temp/
*.tmp
*.swp
